filefairy/data/playoffs.txt
filefairy/data/settings.txt
filefairy/data/standings.txt
filefairy/tokens.py
filefairy3/corpus/*
filefairy3/download/*
filefairy3/extract/*
filefairy3/html/*
filefairy3/util/secrets/secrets.py
*.pyc
