filefairy/data/playoffs.txt
filefairy/data/settings.txt
filefairy/data/standings.txt
filefairy/tokens.py
filefairy3/resource/corpus/*
filefairy3/resource/download/*
filefairy3/resource/html/*
filefairy3/util/secrets/secrets.py
*.pyc
__pycache__
