{% extends "base.html" %}
{% import "common.html" as common %}

{% set items = [('browsable', 'Browsable'), ('internal', 'Internal')] %}
{% block nav %}
{{ common.nav(items) }}
{% endblock %}

{% block content %}

{% if browsable %}
<!-- ^(home.browsable) -->
<div class="container anchor" id="browsable">

{{ common.heading('globe', 'Browsable') }}

<!-- ^(home.row) -->
<div class="row d-flex flex-wrap">

{% for card in browsable %}
<!-- ^(home.column) -->
<div class="col-md-6 col-lg-4 d-flex flex-column">

{{ common.card(card) }}

</div>
<!-- $(home.column) -->

{% endfor %}
</div>
<!-- $(home.row) -->

</div>
<!-- $(home.browsable) -->
{% endif %}

{% if internal %}
<!-- ^(home.internal) -->
<div class="container anchor" id="internal">

{{ common.heading('shield', 'Internal') }}

<!-- ^(home.row) -->
<div class="row d-flex flex-wrap">

{% for card in internal %}
<!-- ^(home.column) -->
<div class="col-md-6 col-lg-4 d-flex flex-column">

{{ common.card(card) }}

</div>
<!-- $(home.column) -->

{% endfor %}
</div>
<!-- $(home.row) -->

</div>
<!-- $(home.internal) -->
{% endif %}

{% endblock %}
