{% extends "base.html" %}
{% import "common.html" as common %}

{% set items = [] %}
{% if upload %}
{% do items.append(('upload', 'Upload')) %}
{% endif %}
{% if download %}
{% do items.append(('download', 'Download')) %}
{% endif %}
{% if completed %}
{% do items.append(('completed', 'Completed')) %}
{% endif %}
{% block nav %}
          {% if items %}
          {{ common.nav(items)|indent(8) }}
          {% endif %}
{% endblock %}

{% block content %}
    {% if upload %}
    <div class="container anchor" id="upload">
      {{ common.heading('cloud-upload', 'Upload')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {{ common.card(upload)|indent(10) }}
        </div>
      </div>
    </div>
    {% endif %}
    {% if download %}
    <div class="container anchor" id="download">
      {{ common.heading('cloud-download', 'Download')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {{ common.card(download)|indent(10) }}
        </div>
      </div>
    </div>
    {% endif %}
    {% if completed %}
    <div class="container anchor" id="completed">
      {{ common.heading('task', 'Completed')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {{ common.table(completed)|indent(10) }}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
