{% extends "base.html" %}
{% import "common.html" as common %}

{% set items = [] %}
{% if upload %}
{% do items.append(('upload', 'Upload')) %}
{% endif %}
{% if download %}
{% do items.append(('download', 'Download')) %}
{% endif %}
{% if completed %}
{% do items.append(('completed', 'Completed')) %}
{% endif %}
{% block nav %}
{% if items %}
{{ common.nav(items) }}
{% endif %}
{% endblock %}

{% block content %}

{% if upload %}
<!-- ^(leaguefile.upload) -->
<div class="container anchor" id="upload">

{{ common.heading('cloud-upload', 'Upload') }}

<!-- ^(leaguefile.row) -->
<div class="row">

<!-- ^(leaguefile.column) -->
<div class="col-12">

{{ common.card(upload) }}

</div>
<!-- $(leaguefile.column) -->

</div>
<!-- ^(leaguefile.row) -->

</div>
<!-- $(leaguefile.upload) -->
{% endif %}

{% if download %}
<!-- ^(leaguefile.download) -->
<div class="container anchor" id="download">

{{ common.heading('cloud-download', 'Download') }}

<!-- ^(leaguefile.row) -->
<div class="row">

<!-- ^(leaguefile.column) -->
<div class="col-12">

{{ common.card(download) }}

</div>
<!-- ^(leaguefile.column) -->

</div>
<!-- ^(leaguefile.row) -->

</div>
<!-- $(leaguefile.upload) -->
{% endif %}

{% if completed %}
<!-- ^(leaguefile.completed) -->
<div class="container anchor" id="completed">

{{ common.heading('task', 'Completed') }}

<!-- ^(leaguefile.row) -->
<div class="row">

<!-- ^(leaguefile.column) -->
<div class="col-12">

{{ common.table(completed) }}

</div>
<!-- ^(leaguefile.column) -->

</div>
<!-- ^(leaguefile.row) -->

</div>
<!-- $(leaguefile.upload) -->
{% endif %}

{% endblock %}
