{% extends "base.html" %}
{% import "common.html" as common %}

{% set items = [('filter', 'Filter')] %}
{% if injuries %}
{% do items.append(('injuries', 'Injuries')) %}
{% endif %}
{% if news %}
{% do items.append(('news', 'News')) %}
{% endif %}
{% if transactions %}
{% do items.append(('transactions', 'Transactions')) %}
{% endif %}
{% if standings %}
{% do items.append(('standings', 'Standings')) %}
{% endif %}
{% block nav %}
          {{ common.nav(items)|indent(8) }}
{% endblock %}

{% block content %}
    <div class="container anchor" id="filter">
      {{ common.heading('magnifying-glass', 'Filter')|indent(6) }}
      {{ common.form()|indent(6) }}
    </div>
    {% if injuries %}
    <div class="container anchor" id="injuries"s>
      {{ common.heading('pulse', 'Injuries')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {% for table in injuries %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if news %}
    <div class="container anchor" id="news">
      {{ common.heading('rss', 'News')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {% for table in news %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if transactions %}
    <div class="container anchor" id="transactions">
      {{ common.heading('loop-circular', 'Transactions')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {% for table in transactions %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if standings %}
    <div class="container anchor" id="standings">
      {{ common.heading('book', 'Standings')|indent(6) }}
      <div class="row">
        {% set n = standings|length() // 2 %}
        <div class="col-md-6">
          {% for table in standings[:n] %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for table in standings[n:] %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
  {{ common.form_js(['injuries', 'news', 'transactions'])|indent(2) }}
{% endblock %}
