#!/usr/bin/env python
# -*- coding: utf-8 -*-

import re


def fairylab():
    return 'fairylab'


def filefairy():
    return 'filefairy'


def statslab():
    return 'statslab'


def secrets_sub(s):
    _ = {
        fairylab(): 'fairylab',
        filefairy(): 'filefairy',
        statslab(): 'statslab'
    }
    pattern = '|'.join(list(_.keys()))
    return re.sub(pattern, lambda m: _.get(m.group()), s)
