#!/usr/bin/env python
# -*- coding: utf-8 -*-

import re


def filefairy():
    return 'filefairy-token'


def server():
    return 'address'


def secrets_sub(s):
    _ = {filefairy(): 'filefairy', server(): 'server'}
    pattern = '|'.join(list(_.keys()))
    return re.sub(pattern, lambda m: _.get(m.group()), s)
