{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-12">

<!-- ^(gameday.carousel) -->
<div id="gamedayCarousel" class="carousel slide carousel-fade" data-interval="false">

<!-- ^(gameday.carousel.inner) -->
<div class="carousel-inner">

<!-- ^(gameday.carousel.inner.days) -->
{% for day in days %}
{% set active = ' active' if loop.first else '' %}
<div class="carousel-item{{ active }}">

<!-- ^(gameday.carousel.inner.days.tables) -->
{% for table in day %}
{{ common.table(table) }}

{% endfor %}
<!-- $(gameday.carousel.inner.days.tables) -->

</div>
{% endfor %}
<!-- $(gameday.carousel.inner.days) -->

</div>
<!-- $(gameday.carousel.inner) -->

<!-- ^(gameday.carousel.nav) -->
<ul class="pagination">

<li class="page-item">
<a class="page-link" href="#gamedayCarousel" role="button" data-slide="prev">
<span class="page-link-inner">«</span>
</a>
</li>

<li class="page-item">
<a class="page-link" href="#gamedayCarousel" role="button" data-slide="next">
<span class="page-link-inner">»</span>
</a>
</li>

</ul>
<!-- $(gameday.carousel.nav) -->

</div>
<!-- $(gameday.carousel) -->

</div>
</div>
</div>

 <!-- ^(standings.dialogs) -->  
{% for dialog in dialogs %} 
{{ common.dialog(dialog) }} 

 {% endfor %}   
<!-- $(standings.dialogs) -->   

{% endblock %}

{% block script %}

<script>
function toggle() {
    $(this).toggleClass('d-none');
    $(this).removeAttr('data-date');
    $(this).removeAttr('data-game');
}
$('.badge-icon[data-show-date]').click(function() {
    num = $(this).data('show-date');
    els = 'table[data-date=' + num + ']';
    $(els).each(toggle);
});
$('.badge-icon[data-show-game]').click(function() {
    num = $(this).data('show-game');
    els = 'table[data-game=' + num + ']';
    $(els).each(toggle);
});
</script>

{% endblock %}
