{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

{% if injuries %}
<!-- ^(news.injuries) -->
<div class="container">

{{ common.topper('Injury Log') }}

<!-- ^(news.row) -->
<div class="row">

<!-- ^(news.column) -->
<div class="col-12">

{% for table in injuries %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(news.column) -->

</div>
<!-- $(news.row) -->

</div>
<!-- $(news.injuries) -->
{% endif %}

{% if news %}
<!-- ^(news.news) -->
<div class="container">

{{ common.topper('News Log') }}

<!-- ^(news.row) -->
<div class="row">

<!-- ^(news.column) -->
<div class="col-12">

{% for table in news %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(news.column) -->

</div>
<!-- $(news.row) -->

</div>
<!-- $(news.news) -->
{% endif %}

{% if transactions %}
<!-- ^(news.transactions) -->
<div class="container">

{{ common.topper('Major Transactions Log') }}

<!-- ^(news.row) -->
<div class="row">

<!-- ^(news.column) -->
<div class="col-12">

{% for table in transactions %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(news.column) -->

</div>
<!-- $(news.row) -->

</div>
<!-- $(news.transactions) -->
{% endif %}

{% endblock %}
