{% macro tag_rulesets() -%}
html {
  min-height: 100%;
  overflow-y: scroll;
  position: relative;
}
header {
  background-color: #f5f5f5;
  width: 100%;
}
pre {
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
a.disabled{
  pointer-events: none;
  cursor: default;
}
button.close {
  height: 16px;
  line-height: 16px;
  width: 16px;
}
span.absolute-icon {
  border-radius: .25rem;
  padding: 3px;
  top: 12px;
}
.absolute-icon {
  position: absolute;
  top: 13px;
}
.absolute-icon.left {
  left: 10px;
}
.absolute-icon.right {
  left: auto;
  right: 10px;
}
.absolute-icon.hover:hover {
  background-color: #e9ecef;
  cursor: pointer;
}
.alert-danger {
  border: 1px solid #721c24;
}
.alert-primary {
  border: 1px solid #004085;
}
.alert-success {
  border: 1px solid #155724;
}
.head {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: .75rem;
}
.table {
  margin-bottom: 0;
  word-break: break-word;
}
.table .thead-light td {
  background-color: #f5f5f5;
}
.table-fixed {
  table-layout: fixed;
}
.small.table td {
  padding: .75rem .5rem;
}
.small.table td:first-child {
  padding-left: .75rem;
}
.small.table td:last-child {
  padding-right: .75rem;
}
.small.table td.badge-icon-wrapper {
  padding: .5rem .25rem;
}
.small.topper {
  font-size: 90%;
}
.table.collapse.show {
  display: table;
}
.td-sm-none,
.td-md-none,
.td-lg-none {
  display: none;
}
.td-md-show {
  display: table-cell;
}
@media (min-width: 576px) {
  .td-sm-none {
    display: table-cell;
  }
}
@media (min-width: 768px) {
  .td-md-none {
    display: table-cell;
  }
  .td-md-show {
    display: none
  }
}
@media (min-width: 992px) {
  .td-lg-none {
    display: table-cell;
  }
}
.text-underline {
  text-decoration: underline;
}
{%- endmacro -%}

{% macro class_rulesets() %}

.ballpark {
  height: 256px;
  overflow: hidden;
  position: relative;
}
.ballpark-inner {
  height: 256px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 256px;
  z-index: 100;
}

.pitch {
  border-radius: 16px;
  height: 16px;
  line-height: 16px;
  margin-left: 15px;
  margin-right: 26px;
  padding: 0 .4em;
  text-align: center;
  width: 24px;
  vertical-align: top;
}
.profile-text {
  min-height: 72px;
  padding-left: 65px;
}
.tag {
  background-color: #ffffff;
  line-height: 16px;
  padding: 0 .75em;
  vertical-align: top;
}
.tag-light {
  border-color: #1b1e21!important;
  color: #1b1e21;
}

.jersey-base {
  background-size: 62px 66px;
  border: 1px solid #eeeff0;
  height: 68px;
  margin: -5px -1px -5px -5px;
  width: 64px;
}
.jersey-ballpark {
  background-position: -122px -36px;
  background-size: 500px 512px;
  height: 256px;
  margin: 0;
  opacity: 0.3;
  width: 256px;
}
.jersey-left {
  right: 50%;
}
.jersey-right {
  left: 50%;
}
@media (min-width: 768px) {
  .jersey-ballpark {
    background-size: 750px 768px;
    height: 256px;
    width: 388px;
  }
  .jersey-left {
    background-position: -165px -118px;
  }
  .jersey-right {
    background-position: -199px -118px;
  }
}
@media (min-width: 992px) {
  .jersey-ballpark {
    background-size: 1000px 1024px;
    height: 256px;
    width: 512px;
  }
  .jersey-left {
    background-position: -220px -244px;
  }
  .jersey-right {
    background-position: -268px -244px;
  }
}
@media (min-width: 1200px) {
  .jersey-ballpark {
    background-size: 1000px 1024px;
    height: 256px;
    width: 556px;
  }
  .jersey-left {
    background-position: -220px -244px;
  }
  .jersey-right {
    background-position: -224px -244px;
  }
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.modal {
  overflow-y: auto;
}
.modal-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dee2e6;
}
.modal-open {
  overflow: auto;
  padding-right: 0px !important;
}
@media (min-width: 576px) {
  body.modal-open header {
    margin-right: 0!important;
    padding-right: 0!important;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 650px; 
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px; 
  }
}

.pagination {
  margin: 0;
  position: absolute;
  right: 0;
  top: 4px;
}
.page-item.active .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link {
  background-color: #f8f9fa;
  line-height: 1;
  padding: .25rem .75rem;
}
.page-link-inner {
  color: #212529;
  display: inline-block;
  padding: 0;
  padding-top: 1px;
}

.rt-10p {
  right: 10px;
  top: 10px;
}
.right-8p {
  right: 8px;
}
.top-0 {
  top: 0;
}

.h-58p {
  height: 58px;
}
.h-72p {
  height: 72px;
}
.mr-8p {
  margin-right: 8px;
}
.pr-75r {
  padding-right: .75rem;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-24p {
  width: 24px;
}
.w-28p {
  width: 28px;
}
.w-32p {
  width: 32px;
}
.w-40p {
  width: 40px;
}
.w-50p {
  width: 50px;
}
.w-54p {
  width: 54px;
}
.w-65p {
  width: 65px;
}
.w-70p {
  width: 70px;
}
.w-75p {
  width: 75px;
}
.w-95p {
  width: 95px;
}
.w-105p {
  width: 105px;
}
.w-150p {
  width: 150px;
}
{%- endmacro -%}
