{% macro alert(icon, text) -%}
<div class="row">
  <div class="col-12">
    <div class="alert alert-secondary mt-3 mb-0">
      <span class="oi oi-{{ icon }} text-secondary"></span>{{ text }}
    </div>
  </div>
</div>
{%- endmacro -%}

{% macro card(data) -%}
<div class="card d-flex flex-column flex-grow mt-3">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      {% if data.href %}
      <a href="{{ data.href }}">{{ data.title }}</a>
      {% else %}
      {{ data.title }}
      {% endif %}
    </h5>
    {% if data.info %}
    <p class="card-text flex-grow">{{ data.info }}</p>
    {% endif %}
    {% if data.table %}
    {{ table(data.table)|indent(4) }}
    {% endif %}
  </div>
  {% if data.ts %}
  <div class="card-footer text-muted text-truncate">
    <small>Last activity: {{ data.ts }}
      {%- if data.success -%}
      <span class="text-success"> ({{ data.success }})</span>
      {%- elif data.danger -%}
      <span class="text-danger"> ({{ data.danger }})</span>
      {%- endif -%}
    </small>
  </div>
  {% endif %}
</div>
{%- endmacro -%}

{% macro form() -%}
<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-light bg-light mt-3 p-0">
      <form class="w-100">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Filter" aria-label="Filter">
      </form>
    </nav>
  </div>
</div>
{%- endmacro -%}

{% macro form_js(ids) -%}
<script>
  var filter = '';
  $('.form-control').on('change keyup paste mouseup', function(e) {
    var val = $(this).val().toLowerCase();
    if (val != filter) {
      filter = val;
      $.each({{ ids }}, function(i, v) {
        row = $(v)
        $('tbody td', row).each(function(e) {
          if ($(this).text().toLowerCase().indexOf(filter) != -1) {
            $(this).removeClass('d-none');
          } else {
            $(this).addClass('d-none');
          }
        });
        $('table', row).each(function(e) {
          if ($(this).find('tbody td:not(.d-none)').length != 0) {
            $(this).removeClass('d-none');
          } else {
            $(this).addClass('d-none');
          }
        });
      })
    }
  });
</script>
{%- endmacro -%}

{% macro table(data) -%}
<table class="table {{ data.clazz }}">
  {% if data.head %}
  <thead class="thead-light">
    <tr>
      {% for cell in data.head %}
      <td scope="col"{{ data.hcols[loop.index0] | safe }}>{{ cell }}</td>
      {% endfor %}
    </tr>
  </thead>
  {% endif %}
  {% if data.body %}
  <tbody>
    {% for row in data.body %}
    <tr>
      {% for cell in row %}
      {% if loop.first %}
      <td scope="row"{{ data.bcols[loop.index0] | safe }}>{{ cell }}</td>
      {% else %}
      <td{{ data.bcols[loop.index0] | safe }}>{{ cell }}</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{%- endmacro -%}
