{% extends "base.html" %}
{% import "common.html" as common %}
{% block content %}
    <div class="container">
      {{ common.alert('cloudy', 'Tracker') }}
      <div class="row">
        <div class="col-12">
          {{ common.card(live) }}
        </div>
      </div>
    </div>
    <div class="container">
      {{ common.alert('target', 'Recorded') }}
      {% for table in standings %}
      <div class="row">
        <div class="col-12">
          {{ common.table(table) }}
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
