{% extends "base.html" %}
{% import "common.html" as common %}
{% block content %}
    {% if browsable %}
    <div class="container">
      {{ common.alert('globe', 'Browsable') }}
      <div class="row d-flex flex-wrap">
        {% for card in browsable %}
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
          {{ common.card(card) }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if internal %}
    <div class="container">
      {{ common.alert('pulse', 'Internal') }}
      <div class="row d-flex flex-wrap">
        {% for card in internal %}
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
          {{ common.card(card) }}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
{% endblock %}
