{% extends "base.html" %}
{% block content %}
    <div class="container">
      <div class="row d-flex flex-wrap">
        {% for key, value in plugins.iteritems() %}
        <div class="col-sm-4 col-lg-3 d-flex flex-column">
          <div class="card d-flex flex-column flex-grow mt-3">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ key }}</h5>
              <p class="card-text flex-grow">{{ value.info }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last activity: {{ value.date }}</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
