{% extends "base.html" %}
{% import "common.html" as common %}
{% block content %}
    {% if browsable %}
    <div class="container">
      {{ common.alert('globe', 'Browsable') }}
      <div class="row d-flex flex-wrap">
        {% for plugin in browsable %}
        <div class="col-sm-4 col-lg-3 d-flex flex-column">
          <div class="card d-flex flex-column flex-grow mt-3">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">
                <a href="{{ plugin.href }}">{{ plugin.name }}</a>
              </h5>
              <p class="card-text flex-grow">{{ plugin.info }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last activity: {{ plugin.delta }}
                {%- if not plugin.ok -%}
                <span class="text-danger"> (failed)</span>
                {%- elif 's' in plugin.delta -%}
                <span class="text-success"> (just now)</span>
                {%- endif -%}
              </small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if internal %}
    <div class="container">
      {{ common.alert('pulse', 'Internal') }}
      <div class="row d-flex flex-wrap">
        {% for plugin in internal %}
        <div class="col-sm-4 col-lg-3 d-flex flex-column">
          <div class="card d-flex flex-column flex-grow mt-3">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ plugin.name }}</h5>
              <p class="card-text flex-grow">{{ plugin.info }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last activity: {{ plugin.delta }}
                {%- if not plugin.ok -%}
                <span class="text-danger"> (failed)</span>
                {%- elif 's' in plugin.delta -%}
                <span class="text-success"> (just now)</span>
                {%- endif -%}
              </small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
{% endblock %}
