{% extends "base.html" %}
{% import "common.html" as common %}

{% set items = [] %}
{% if fp %}
{% do items.append(('progress', 'In Progress')) %}
{% endif %}
{% if up %}
{% do items.append(('completed', 'Completed')) %}
{% endif %}
{% block nav %}
          {% if items %}
          {{ common.nav(items)|indent(8) }}
          {% endif %}
{% endblock %}

{% block content %}
    {% if fp %}
    <div class="container anchor" id="progress">
      {{ common.heading('clock', 'In Progress')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {{ common.card(fp)|indent(10) }}
        </div>
      </div>
    </div>
    {% endif %}
    {% if up %}
    <div class="container anchor" id="completed">
      {{ common.heading('task', 'Completed')|indent(6) }}
      <div class="row">
        <div class="col-12">
          {{ common.table(up)|indent(10) }}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
