{% extends "base.html" %}
{% import "common.html" as common %}
{% block content %}
    {% if fp %}
    <div class="container">
      {{ common.alert('clock', 'In Progress') }}
      <div class="row">
        <div class="col-12">
          {{ common.card(fp) }}
        </div>
      </div>
    </div>
    {% endif %}
    {% if up %}
    <div class="container">
      {{ common.alert('task', 'Completed') }}
      <div class="row">
        <div class="col-12">
          {{ common.table(up) }}
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
