{% extends "base.html" %}
{% import "common.html" as common %}
{% block content %}
    <div class="container">
      {{ common.alert('monitor', 'Live')|indent(6) }}
      <div class="row">
        {% set n = live|length() // 2 %}
        <div class="col-md-6">
          {% for table in live[:n] %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for table in live[n:] %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      {{ common.alert('magnifying-glass', 'Filter')|indent(6) }}
      {{ common.form()|indent(6) }}
    </div>
    {% if scores %}
    <div class="container">
      {{ common.alert('layers', 'Final Scores')|indent(6) }}
      <div class="row" id="scores">
        <div class="col-12">
          {% for table in scores %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if injuries %}
    <div class="container">
      {{ common.alert('pulse', 'Injuries')|indent(6) }}
      <div class="row" id="injuries">
        <div class="col-12">
          {% for table in injuries %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if highlights %}
    <div class="container">
      {{ common.alert('bolt', 'Highlights')|indent(6) }}
      <div class="row" id="highlights">
        <div class="col-12">
          {% for table in highlights %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container">
      {{ common.alert('compass', 'Forecast')|indent(6) }}
      <div class="row">
        {% set n = forecast|length() // 2 %}
        <div class="col-md-6">
          {% for table in forecast[:n] %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for table in forecast[n:] %}
          {{ common.table(table)|indent(10) }}
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
  {{ common.form_js(['#scores', '#injuries', '#highlights'])|indent(2) }}
{% endblock %}

