<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
<title>Fairylab | {{ title }}</title>

<style>
{% block style %}{% endblock %}
</style>
</head>

<body>

<!-- ^(base.header) -->
<header class="border-bottom sticky-top">
<div class="container">
<nav class="navbar navbar-light border-bottom" aria-label="nav">
<ol class="breadcrumb flex-nowrap text-truncate m-0 p-0">
{% for breadcrumb in breadcrumbs %}
{% if breadcrumb.href != '' %}
<li class="breadcrumb-item">
<a href="{{ breadcrumb.href }}">{{ breadcrumb.name }}</a>
</li>
{% else %}
<li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
{% endif %}
{% endfor %}
</ol>
</nav>

<div class="my-1">
<small class="text-muted">Last reloaded: {{ date }}</small>
</div>

</div>
</header>
<!-- $(base.header) -->

<!-- ^(base.main) -->
<main role="main" class="pb-3">
{% block content %}{% endblock %}
</main>
<!-- $(base.main) -->

<!-- ^(base.footer) -->
<footer class="border-top">
<div class="container text-center">
<a href="{{ documentation }}">
<small>{{ title|capitalize }} Documentation</small>
</a>
</div>
</footer>
<!-- $(base.footer) -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<script>
$('.repl-toggler').on('click', function(e) {
  if ($(this).hasClass('disabled')) {
    e.preventDefault();
  } else {
    $(this).toggleClass('disabled text-secondary');
    $(this).html($(this).data('repl'));
  }
});
$('.show-toggler').on('click', function(e) {
  $(this).toggleClass('border-bottom-0');
});
</script>

{% block script %}{% endblock %}

</body>

</html>
