{% macro heading(icon, text) -%}
<!-- ^(common.heading) -->
<div class="row">
<div class="col-12">
<div class="alert alert-secondary mt-3 mb-0">
<span class="oi oi-{{ icon }} text-secondary"></span>{{ text }}
</div>
</div>
</div>
<!-- $(common.heading) -->
{%- endmacro -%}

{% macro card(data) -%}
<!-- ^(common.card) -->
<div class="card d-flex flex-column flex-grow mt-3">

<!-- ^(common.card.body) -->
<div class="card-body d-flex flex-column">
<div class="d-flex flex-row">
<h5 class="card-title flex-grow">
{% if data.href %}
<a href="{{ data.href }}">{{ data.title }}</a>
{% else %}
{{ data.title }}
{% endif %}
</h5>
<div>
{%- if data.success -%}
<span class="btn btn-success btn-sm disabled">{{ data.success }}</span>
{%- elif data.danger -%}
<span class="btn btn-danger btn-sm disabled">{{ data.danger }}</span>
{%- endif -%}
</div>
</div>

{% if data.info %}
<p class="card-text flex-grow">{{ data.info }}</p>
{% endif %}
{% if data.table %}

{{ table(data.table) }}

{% endif %}
{% if data.code %}
<pre class="pre-scrollable d-flex"><code>{{- data.code -}}</code></pre>
{% endif %}
</div>
<!-- $(common.card.body) -->
{% if data.ts %}

<!-- ^(common.card.footer) -->
<div class="card-footer text-muted text-truncate">
<small>Last activity: {{ data.ts }}</small>
</div>
<!-- $(common.card.footer) -->
{% endif %}

</div>
<!-- $(common.card) -->
{%- endmacro -%}

{% macro dropdown(task, teams) -%}
<!-- ^(common.dropdown) -->
<div class="row">
<div class="col-12">
<div class="dropdown mt-3 p-0">
<button class="{{ 'btn bg-white dropdown-toggle border w-100 ' +
                  'd-flex justify-content-between align-items-center' }}"
        type="button" id="dropdown-button" data-toggle="dropdown"
        data-flip="false" aria-haspopup="true"
        aria-expanded="false">Select</button>
<div class="dropdown-menu w-100" aria-labelledby="dropdown-button">
{% for name, path in teams %}
<a class="dropdown-item py-2"
   href="{{ task + '/' + path.replace(' ', '').lower() + '/' }}">
{{ name }}
</a>
{% endfor %}
</div>
</div>
</div>
</div>
<!-- $(common.dropdown) -->
{%- endmacro -%}

{% macro form() -%}
<!-- ^(common.form) -->
<div class="row">
<div class="col-12">
<nav class="navbar navbar-light bg-light mt-3 p-0">
<form class="w-100">
<input class="form-control border mr-sm-2" type="search" placeholder="Search"
       aria-label="Search">
</form>
</nav>
</div>
</div>
<!-- $(common.form) -->
{%- endmacro -%}

{% macro form_js(ids) -%}
<!-- ^(common.form_js) -->
<script>
var filter = '';
$('.form-control').on('change keyup paste mouseup', function(e) {
  var val = $(this).val().toLowerCase();
  if (val != filter) {
    filter = val;
    $.each({{ ids }}, function(i, v) {
      container = $('#' + v);
      $('tbody td', container).each(function(e) {
        if ($(this).text().toLowerCase().indexOf(filter) != -1) {
          $(this).removeClass('d-none');
        } else {
          $(this).addClass('d-none');
        }
      });
      $('table', container).each(function(e) {
        if ($(this).find('tbody td:not(.d-none)').length != 0) {
          $(this).removeClass('d-none');
        } else {
          $(this).addClass('d-none');
        }
      });
    })
  }
});
</script>
<!-- $(common.form_js) -->
{%- endmacro -%}

{% macro dialog(data) -%}
<!-- ^(common.dialog) -->
<div class="modal fade" id="{{ data.id }}" tabindex="-1" role="dialog"
     aria-labelledby="{{ data.id }}-label" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">

<!-- ^(common.dialog.header) -->
<div class="modal-header d-block py-0">
<div class="head position-relative py-2 small">
{{ data.icon }}
<button type="button" class="close position-absolute m-0 p-0 rt-10p"
        data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
</div>
<!-- $(common.dialog.header) -->

<!-- ^(common.dialog.body) -->
<div class="modal-body pb-0">
{% for t in data.tables %}
{{ table(t) }}

{% endfor %}
</div>
<!-- $(common.dialog.body) -->

</div>
</div>
</div>
<!-- $(common.dialog) -->
{%- endmacro -%}

{% macro ruleset(data) -%}
{{ data.selector }} {
{% for r in data.rules %}
  {{ r }};
{% endfor %}
}
{%- endmacro -%}

{% macro table(data) -%}
<!-- ^(common.table) -->
<table class="small table{% if data.clazz %} {{ data.clazz }}{% endif %}"
       {%- if data.id %}id="{{ data.id }}"{% endif %}>
{% if data.head %}

<!-- ^(common.table.head) -->
<thead class="thead-light">
{% for row in data.head %}
<tr>
{% for cell in row %}
{% set hcol = data.hcols[loop.index0] if data.hcols else None %}
{% set hclazz = hcol['clazz'] if hcol else '' %}
{% set cclazz = cell.col.clazz if cell.col else '' %}
{% set cl = cclazz + (' ' if cclazz else '') + hclazz %}
{% set hcolspan = hcol['colspan'] if hcol else '' %}
{% set ccolspan = cell.col.colspan if cell.col else '' %}
{% set co = ccolspan if ccolspan else hcolspan %}
<td scope="col"{% if cl %} class="{{ cl }}"{% endif %}{% if co %} colspan="{{ co }}"{% endif %}>{{ cell.content }}</td>
{% endfor %}
</tr>
{% endfor %}
</thead>
<!-- $(common.table.head) -->
{% endif %}
{% if data.body %}

<!-- ^(common.table.body) -->
<tbody>
{% for row in data.body %}
<tr>
{% for cell in row %}
{% set scope = ' scope="row"' if loop.first else '' %}
{% set bcol = data.bcols[loop.index0] if data.bcols else None %}
{% set bclazz = bcol['clazz'] if bcol else '' %}
{% set cclazz = cell.col.clazz if cell.col else '' %}
{% set cl = cclazz + (' ' if cclazz else '') + bclazz %}
{% set bcolspan = bcol['colspan'] if bcol else '' %}
{% set ccolspan = cell.col.colspan if cell.col else '' %}
{% set co = ccolspan if ccolspan else bcolspan %}
{% set scope = scope + (' ' if cl or co else '') %}
<td{{ scope }}{% if cl %}class="{{ cl }}"{% endif %}{% if co %} colspan="{{ co }}"{% endif %}>{{ cell.content }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
<!-- $(common.table.body) -->
{% endif %}
{% if data.foot %}

<!-- ^(common.table.foot) -->
<tfoot class="thead-light">
{% for row in data.foot %}
<tr>
{% for cell in row %}
{% set fcol = data.fcols[loop.index0] if data.fcols else None %}
{% set fclazz = fcol['clazz'] if fcol else '' %}
{% set cclazz = cell.col.clazz if cell.col else '' %}
{% set cl = cclazz + (' ' if cclazz else '') + fclazz %}
{% set fcolspan = fcol['colspan'] if fcol else '' %}
{% set ccolspan = cell.col.colspan if cell.col else '' %}
{% set co = ccolspan if ccolspan else fcolspan %}
<td scope="col"{% if cl %} class="{{ cl }}"{% endif %}{% if co %} colspan="{{ co }}"{% endif %}>{{ cell.content }}</td>
{% endfor %}
</tr>
{% endfor %}
</tfoot>
<!-- $(common.table.foot) -->
{% endif %}

</table>
<!-- $(common.table) -->
{%- endmacro -%}

{% macro tabs(data) -%}
<!-- ^(common.tabs) -->

<!-- ^(common.tabs.tabs) -->
<ul class="nav nav-{{ data.style }} flex-nowrap mt-3"
    {%- if data.id %}id="{{ data.id }}"{% endif %}
    role="tablist">

{% for t in data.tabs %}
<li class="nav-item">
{% set active = ' active' if loop.first else '' %}
<a class="nav-link{{ active }}" id="{{ t.name }}-tab" data-toggle="tab"
   href="#{{ t.name }}" role="tab" aria-controls="raw" aria-selected="true">
{{ t.title }}
</a>
</li>

{% endfor %}
</ul>
<!-- $(common.tabs.tabs) -->

<!-- ^(common.tabs.content) -->
<div class="tab-content">

{% for t in data.tabs %}
{% set active = ' active' if loop.first else '' %}
<div class="tab-pane fade show{{ active }}" id="{{ t.name }}"
     role="tabpanel" aria-labelledby="{{ t.name }}-tab">

<!-- ^(common.tabs.content.tables) -->
{% for u in t.tables %}
{{ table(u) }}

{% endfor %}
<!-- $(common.tabs.content.tables) -->

<!-- ^(common.tabs.content.tabs) -->
{% if t.tabs %}
{{ tabs(t.tabs) }}

{% endif %}
<!-- $(common.tabs.content.tabs) -->
</div>

{% endfor %}
</div>
<!-- $(common.tabs.content) -->

<!-- $(common.tabs) -->
{%- endmacro -%}

{% macro topper(text) -%}
<!-- ^(common.topper) -->
<div class="row">
<div class="col-12">

<!-- ^(common.topper.table) -->
<table class="small table topper">

<!-- ^(common.topper.body) -->
<tbody>
<tr>
<td scope="row" class="border-0 font-weight-bold px-0 text-secondary">{{ text }}</td>
</tr>
</tbody>
<!-- $(common.topper.body) -->

</table>
<!-- $(common.topper.table) -->

</div>
</div>
<!-- $(common.topper) -->
{%- endmacro -%}
