{% extends "base.html" %}
{% import "common.html" as common %}
{% import "style.html" as style %}

{% block style %}
{{ style.base() }}
{% endblock %}

{% block content %}

{% if exceptions %}
<!-- ^(dashboard.exceptions) -->
<div class="container anchor" id="exceptions">

{{ common.heading('fire', 'Exceptions') }}

<!-- ^(dashboard.row) -->
<div class="row">

{% for card in exceptions %}
<!-- ^(dashboard.column) -->
<div class="col-12">

{{ common.card(card) }}

</div>
<!-- $(dashboard.column) -->

{% endfor %}
</div>
<!-- $(dashboard.row) -->

</div>
<!-- $(dashboard.exceptions) -->
{% endif %}

{% if warnings %}
<!-- ^(dashboard.warnings) -->
<div class="container anchor" id="warnings">

{{ common.heading('warning', 'Warnings') }}

<!-- ^(dashboard.row) -->
<div class="row">

{% for card in warnings %}
<!-- ^(dashboard.column) -->
<div class="col-12">

{{ common.card(card) }}

</div>
<!-- $(dashboard.column) -->

{% endfor %}
</div>
<!-- $(dashboard.row) -->

</div>
<!-- $(dashboard.warnings) -->
{% endif %}

{% if logs %}
<!-- ^(dashboard.filter) -->
<div class="container anchor" id="filter">

{{ common.heading('magnifying-glass', 'Filter') }}

{{ common.form() }}

</div>
<!-- $(dashboard.filter) -->

<!-- ^(dashboard.logs) -->
<div class="container anchor" id="logs">

{{ common.heading('timer', 'Logs') }}

<!-- ^(dashboard.row) -->
<div class="row">

<!-- ^(dashboard.column) -->
<div class="col-12">

{% for table in logs %}
{{ common.table(table) }}
{% endfor %}

</div>
<!-- $(dashboard.column) -->

</div>
<!-- $(dashboard.row) -->

</div>
<!-- $(dashboard.logs) -->
{% endif %}

{% endblock %}

{% block script %}
{{ common.form_js(['logs']) }}
{% endblock %}
