{% extends "base.html" %}
{% import "common.html" as common %}

{% set modals = [] %}
{% set anchors = [('tracker', 'Tracker')] %}
{% block nav %}
{{ common.nav(modals, anchors) }}
{% endblock %}

{% block content %}

<!-- ^(exports.tracker) -->
<div class="container anchor" id="tracker">

{{ common.heading('cloudy', 'Tracker') }}

<!-- ^(exports.row) -->
<div class="row">
{% set n = standings|length() // 2 %}

<!-- ^(exports.column) -->
<div class="col-md-6">

{% for table in standings[:n] %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(exports.column) -->

<!-- ^(exports.column) -->
<div class="col-md-6">

{% for table in standings[n:] %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(exports.column) -->

</div>
<!-- $(exports.row) -->

</div>
<!-- $(exports.tracker) -->

{% endblock %}
