{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-12">

<!-- ^(gameday.carousel) -->
<div id="gamedayCarousel" class="carousel slide carousel-fade" data-interval="false">

<!-- ^(gameday.carousel.inner) -->
<div class="carousel-inner">

<!-- ^(gameday.carousel.inner.days) -->
{% for day in days %}
{% set active = ' active' if loop.first else '' %}
<div class="carousel-item{{ active }}">

<!-- ^(gameday.carousel.inner.days.tables) -->
{% for table in day %}
{{ common.table(table) }}

{% endfor %}
<!-- $(gameday.carousel.inner.days.tables) -->

</div>
{% endfor %}
<!-- $(gameday.carousel.inner.days) -->

</div>
<!-- $(gameday.carousel.inner) -->

<!-- ^(gameday.carousel.nav) -->
<ul class="pagination">

<li class="page-item">
<a class="page-link" href="#gamedayCarousel" role="button" data-slide="prev">«</a>
</li>

<li class="page-item">
<a class="page-link" href="#gamedayCarousel" role="button" data-slide="next">»</a>
</li>

</ul>
<!-- $(gameday.carousel.nav) -->

</div>
<!-- $(gameday.carousel) -->

</div>
</div>
</div>

{% endblock %}
