{% extends "base.html" %}
{% import "common.html" as common %}
{% import "style.html" as style %}

{% block style %}
{{ style.base() }}
{% for team, name, rawid in jerseys %}
{{ style.jersey(team, name, rawid) }}
{% endfor %}
{{ style.game() }}
{% endblock %}

{% block content %}

<!-- ^(game.container) -->
<div class="container">

<!-- ^(game.row) -->
<div class="row">

<!-- ^(game.column) -->
<div class="col-12">

{{ common.tabs(tabs) }}

</div>
<!-- ^(game.column) -->

</div>
<!-- ^(game.row) -->

</div>
<!-- $(game.container) -->

{% endblock %}
