{% extends "base.html" %}
{% import "common.html" as common %}

{% set modals = [('schedule', 'Schedule')] %}
{% set anchors = [('log', 'Game Log')] %}
{% block nav %}
{{ common.nav(modals, anchors) }}
{% endblock %}

{% block content %}

{% if inning %}
<!-- ^(game.inning) -->
<div class="container anchor" id="log">

{{ common.heading('book', 'Game Log') }}

<!-- ^(game.row) -->
<div class="row">

<!-- ^(game.column) -->
<div class="col-12">

{% for table in inning %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(game.column) -->

</div>
<!-- $(game.row) -->

</div>
<!-- $(game.inning) -->
{% endif %}

{{ common.modal('schedule', 'Schedule', schedule)}}

{% endblock %}
