{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

{% if pull %}
<!-- ^(git.pull) -->
<div class="container anchor" id="pull">

{{ common.heading('data-transfer-download', 'Pull') }}

<!-- ^(git.row) -->
<div class="row">

<!-- ^(git.column) -->
<div class="col-12">

{{ common.table(pull) }}

</div>
<!-- $(git.column) -->

</div>
<!-- $(git.row) -->

</div>
<!-- $(git.pull) -->
{% endif %}

{% if push %}
<!-- ^(git.push) -->
<div class="container anchor" id="push">

{{ common.heading('data-transfer-upload', 'Push') }}

<!-- ^(git.row) -->
<div class="row">

<!-- ^(git.column) -->
<div class="col-12">

{{ common.table(push) }}

</div>
<!-- $(git.column) -->

</div>
<!-- $(git.row) -->

</div>
<!-- $(git.pull) -->
{% endif %}

{% endblock %}
