{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

{% if external %}
<!-- ^(home.external) -->
<div class="container anchor" id="external">

{{ common.heading('globe', 'External Tasks') }}

<!-- ^(home.row) -->
<div class="row d-flex flex-wrap">

{% for card in external %}
<!-- ^(home.column) -->
<div class="col-md-6 col-lg-4 d-flex flex-column">

{{ common.card(card) }}

</div>
<!-- $(home.column) -->

{% endfor %}
</div>
<!-- $(home.row) -->

</div>
<!-- $(home.external) -->
{% endif %}

{% if internal %}
<!-- ^(home.internal) -->
<div class="container anchor" id="internal">

{{ common.heading('dashboard', 'Internal Tasks') }}

<!-- ^(home.row) -->
<div class="row d-flex flex-wrap">

{% for card in internal %}
<!-- ^(home.column) -->
<div class="col-md-6 col-lg-4 d-flex flex-column">

{{ common.card(card) }}

</div>
<!-- $(home.column) -->

{% endfor %}
</div>
<!-- $(home.row) -->

</div>
<!-- $(home.internal) -->
{% endif %}

{% endblock %}
