{% extends "base.html" %}
{% import "common.html" as common %}
{% import "style.html" as style %}

{% block style %}
{{ style.base() }}
{% endblock %}

{% block content %}

{% if completed %}
<!-- ^(leaguefile.completed) -->
<div class="container anchor" id="completed">

{{ common.heading('task', 'Completed') }}

<!-- ^(leaguefile.row) -->
<div class="row">

<!-- ^(leaguefile.column) -->
<div class="col-12">

{{ common.table(completed) }}

</div>
<!-- ^(leaguefile.column) -->

</div>
<!-- ^(leaguefile.row) -->

</div>
<!-- $(leaguefile.upload) -->
{% endif %}

{% endblock %}
