{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-12">

<!-- ^(livesim.nav) -->
<div class="small mb-3">
<ul class="pagination justify-content-center position-relative top-0">

<!-- ^(livesim.nav.tabs) -->
{% for tab in tabs %}
{% set active = ' active' if loop.first else '' %}
<li class="page-item{{ active }}">
<a class="page-link" href="#livesimCarousel" role="button" data-slide-to="{{ loop.index - 1 }}">
<span class="page-link-inner">{{ tab.title }}</span>
</a>
</li>

{% endfor %}

</ul>
</div>
<!-- $(livesim.nav) -->

<!-- ^(livesim.carousel) -->
<div id="livesimCarousel" class="carousel slide carousel-fade" data-interval="false">

<!-- ^(livesim.carousel.inner) -->
<div class="carousel-inner">

<!-- ^(livesim.carousel.inner.tabs) -->
{% for tab in tabs %}
{% set active = ' active' if loop.first else '' %}
<div class="carousel-item{{ active }}">

<!-- ^(livesim.carousel.inner.tabs.tables) -->
{% for table in tab.tables %}
{{ common.table(table) }}

{% endfor %}
<!-- $(livesim.carousel.inner.tabs.tables) -->

</div>
{% endfor %}
<!-- $(livesim.carousel.inner.tabs) -->

</div>
<!-- $(livesim.carousel.inner) -->

</div>
<!-- $(livesim.carousel) -->

</div>
</div>
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  var $pageItems = $('.page-item');
  $pageItems.click(function() {
    $pageItems.removeClass('active');
    $(this).addClass('active');
  });

  function sleep (time) {
    return new Promise((resolve) => setTimeout(resolve, time));
  }

  function change(selector, content) {
    $(selector).html(content);
  }

  function tick(ts) {
    $('.livesimEvent[data-show="' + ts + '"]').removeClass('d-none');
    $('.livesimEvent[data-hide="' + ts + '"]').addClass('d-none');

    if (ts.endsWith('.0')) {
      $('#livesimBatterTable').removeClass('border-bottom-0');
    } else if (ts.endsWith('.1')) {
      $('#livesimBatterTable').addClass('border-bottom-0');
    }
  }

  var events = {{ events | tojson | safe }};
  var i = 0;

  function loop() {
    var event = events[i];
    if (event[0] == 'change') {
      change(event[2], event[3]);      
    }
    if (event[0] == 'tick') {
      tick(event[2]);      
    }

    i += 1;
    if (i < events.length) {
      setTimeout(loop, event[1]*1000);
    }
  }
  loop();
});
</script>
{% endblock %}
