{% extends "base.html" %}
{% import "common.html" as common %}

{% block content %}

<!-- ^(news.filter) -->
<div class="container anchor" id="filter">

{{ common.heading('magnifying-glass', 'Filter') }}

{{ common.form() }}

</div>
<!-- $(news.filter) -->

{% if injuries %}
<!-- ^(news.injuries) -->
<div class="container anchor" id="injuries"s>

{{ common.heading('pulse', 'Injuries') }}

<!-- ^(news.row) -->
<div class="row">

<!-- ^(news.column) -->
<div class="col-12">

{% for table in injuries %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(news.column) -->

</div>
<!-- $(news.row) -->

</div>
<!-- $(news.injuries) -->
{% endif %}

{% if news %}
<!-- ^(news.news) -->
<div class="container anchor" id="news">

{{ common.heading('rss', 'News') }}

<!-- ^(news.row) -->
<div class="row">

<!-- ^(news.column) -->
<div class="col-12">

{% for table in news %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(news.column) -->

</div>
<!-- $(news.row) -->

</div>
<!-- $(news.news) -->
{% endif %}

{% if transactions %}
<!-- ^(news.transactions) -->
<div class="container anchor" id="transactions">

{{ common.heading('loop-circular', 'Transactions') }}

<!-- ^(news.row) -->
<div class="row">

<!-- ^(news.column) -->
<div class="col-12">

{% for table in transactions %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(news.column) -->

</div>
<!-- $(news.row) -->

</div>
<!-- $(news.transactions) -->
{% endif %}

{% endblock %}

{% block script %}
{{ common.form_js(['injuries', 'news', 'transactions']) }}
{% endblock %}
