{% extends "base.html" %}
{% import "common.html" as common %}

{% set modals = [] %}
{% set anchors = [('statistics', 'Statistics')] %}
{% if count and recent %}
{% do anchors.append(('leaderboard', 'Leaderboard')) %}
{% endif %}
{% block nav %}
{{ common.nav(modals, anchors) }}
{% endblock %}

{% block content %}

<!-- ^(snacks.statistics) -->
<div class="container anchor" id="statistics">

{{ common.heading('pie-chart', 'Statistics') }}

<!-- ^(snacks.row) -->
<div class="row d-flex flex-wrap">

{% for card in statistics %}
<!-- ^(snacks.column) -->
<div class="col-md-12 col-lg-4 d-flex flex-column">

{{ common.card(card) }}

</div>
<!-- $(snacks.column) -->

{% endfor %}
</div>
<!-- $(snacks.row) -->

</div>
<!-- $(snacks.statistics) -->

{% if count and recent %}
<!-- ^(snacks.leaderboard) -->
<div class="container anchor" id="leaderboard">

{{ common.heading('bar-chart', 'Leaderboard') }}

<!-- ^(snacks.row) -->
<div class="row">

<!-- ^(snacks.column) -->
<div class="col-md-6">

{{ common.table(count) }}

</div>
<!-- $(snacks.column) -->

<!-- ^(snacks.column) -->
<div class="col-md-6">

{{ common.table(recent) }}

</div>
<!-- $(snacks.column) -->

</div>
<!-- $(snacks.row) -->

</div>
<!-- $(snacks.leaderboard) -->
{% endif %}

{% endblock %}
