{% extends "base.html" %}
{% import "common.html" as common %}
{% import "style.html" as style %}

{% block style %}
{{ style.base() }}
{% endblock %}

{% block content %}

<!-- ^(standings.recent) -->
<div class="container anchor" id="recent">

{{ common.heading('monitor', 'Recent') }}

<!-- ^(standings.row) -->
<div class="row">

{% for table in recent %}
<!-- ^(standings.column) -->
<div class="col-md-6">

{{ common.table(table) }}

</div>
<!-- $(standings.column) -->

{% endfor %}
</div>
<!-- $(standings.row) -->

</div>
<!-- $(standings.recent) -->

<!-- ^(standings.expanded) -->
<div class="container anchor" id="expanded">

{{ common.heading('book', 'Expanded') }}

<!-- ^(standings.row) -->
<div class="row">

{% set n = expanded|length() // 2 %}
<!-- ^(standings.column) -->
<div class="col-md-6">

{% for table in expanded[:n] %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(standings.column) -->

<!-- ^(standings.column) -->
<div class="col-md-6">

{% for table in expanded[n:] %}
{{ common.table(table) }}

{% endfor %}
</div>
<!-- $(standings.column) -->
</div>
<!-- $(standings.row) -->

</div>
<!-- $(standings.expanded) -->

<!-- ^(standings.dialogs) -->
{% for dialog in dialogs %}
{{ common.dialog(dialog) }}

{% endfor %}
<!-- $(standings.dialogs) -->

{% endblock %}
