{% extends "base.html" %}
{% import "common.html" as common %}
{% import "style.html" as style %}

{% block style %}
{{ style.base() }}
{% endblock %}

{% block content %}

<!-- ^(statsplus.recent) -->
<div class="container anchor" id="recent">

{{ common.heading('monitor', 'Recent') }}

<!-- ^(statsplus.row) -->
<div class="row">

{% for table in recent %}
<!-- ^(statsplus.column) -->
<div class="col-md-6">

{{ common.table(table) }}

</div>
<!-- $(statsplus.column) -->

{% endfor %}
</div>
<!-- $(statsplus.row) -->

</div>
<!-- $(statsplus.recent) -->

{% endblock %}
