{% macro base() -%}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
header {
  background-color: #f5f5f5;
  width: 100%;
}
a.disabled{
  pointer-events: none;
  cursor: default;
}
.alert, .dropdown-toggle, .form-control {
  padding: .75rem;
}
.alert .oi {
  line-height: 24px;
  padding-right: .75rem;
}
.anchor {
  padding-top: 0px;
  margin-top: 0px;
  transition: padding-top .35s ease, margin-top .35s ease;
}
.breadcrumb {
  background-color: inherit;
  line-height: 60px;
  max-width: 468px;
  overflow-x: auto;
}
.dropdown-toggle {
  color: #6c767c;
}
.flex-grow {
  flex-grow: 1;
}
.left-8p {
  left: 8px;
}
.mr-8p {
  margin-right: 8px;
}
.nav-pills {
  overflow-x: auto;
  overflow-y: hidden;
}
.navbar {
  padding: 0;
}
.nav-pills .nav-item {
  margin: 0 .25rem;
  min-width: 32px;
  text-align: center;
}
.nav-pills .nav-link {
  padding: .25rem 0;
}
.nav-pills .nav-link:not(.active) {
  border: 1px solid #dee2e6;
}
.pl-24p {
  padding-left: 24px;
}
.pr-24p {
  padding-right: 24px;
}
.right-8p {
  right: 8px;
}
.table, .table-sm {
  margin-bottom: 0;
  word-break: break-word;
}
.table .thead-light td {
  background-color: #f5f5f5;
}
.table-fixed {
  table-layout: fixed;
}
.table-sm td {
  border-top: 0;
  padding: 0 .3rem 0 0;
}
.table .td-sm {
  padding: .75rem .25rem;
}
.table.collapse.show {
  display: table;
}
.top-14p {
  top: 14px;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-40 {
  width: 40%;
}
.w-55p {
  width: 55px;
}
.w-65p {
  width: 65px;
}
.w-75p {
  width: 75px;
}
.w-105p {
  width: 105px;
}
{%- endmacro -%}

{% macro game() -%}
.alert-danger {
  border: 1px solid #721c24;
}
.alert-primary {
  border: 1px solid #004085;
}
.alert-success {
  border: 1px solid #155724;
}
.pitch {
  border-radius: 24px;
  height: 24px;
  line-height: 16px;
  margin-left: 24px;
  margin-right: 32px;
  padding: .25em 0;
  text-align: center;
  width: 24px;
}
.count {
  line-height: 8px;
}
.dot {
  background-color: #ffffff;
  border-radius: 8px;
  height: 8px;
  margin: 2px 2px 2px 0;
  width: 8px;
  display: inline-block;
}
.dot.ball.active {
  border-color: #155724!important;
  background-color: #d4edda;
}
.dot.strike.active {
  border-color: #721c24!important;
  background-color: #f8d7da;
}
.profile-image {
  background-size: 78px 80px;
  border: 1px solid #eeeff0;
  height: 82px;
  margin: -5px -1px -5px -5px;
  width: 80px;
}
.profile-text {
  min-height: 72px;
  padding-left: 84px;
}
.tag {
  background-color: #ffffff;
  line-height: 16px;
}
.tag-danger {
  background-color: #f8d7da;
  border-color: #721c24!important;
  color: #721c24;
}
.tag-light {
  border-color: #1b1e21!important;
  color: #1b1e21;
}
.tag-primary {
  background-color: #cce5ff;
  border-color: #004085!important;
  color: #004085;
}
.tag-secondary {
  background-color: #e2e3e5;
  border-color: #383d41!important;
  color: #383d41;
}
.tag-success {
  background-color: #d4edda;
  border-color: #155724!important;
  color: #155724;
}
{%- endmacro -%}

{% macro jersey(team, name, rawid) -%}
.{{ team }}-{{ name }}-back {
  background: url('https://fairylab.surge.sh/images/teams/{{ team }}/{{ team }}-{{ name }}-back.png');
  background: url('https://gistcdn.githack.com/brunner/{{ rawid }}/{{ team }}-{{ name }}-back.svg'), linear-gradient(transparent, transparent);
}
.{{ team }}-{{ name }}-front {
  background: url('https://fairylab.surge.sh/images/teams/{{ team }}/{{ team }}-{{ name }}-front.png');
  background: url('https://gistcdn.githack.com/brunner/{{ rawid }}/{{ team }}-{{ name }}-front.svg'), linear-gradient(transparent, transparent);
}
{%- endmacro -%}
